<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Geek - Login</title>
    <link rel="stylesheet" href="../src/assets/css/reset.css">
    <link rel="stylesheet" href="../src/assets/css/produtos.css">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav__container">
                <a href="../index.html" class="nav__container__logo">
                    <img src="../src/assets/img/logo-img.png" alt="">
                    <p class="nav__container__logo__text"><span class="nav__container__logo__text__blue">Alura</span>Geek</p>
                </a>
                <section class="nav__container__search-box">
                    <input class="nav__container__search-box__input" type="text" placeholder="O que deseja encontrar?">
                    <img class="nav__container__search-box__img" src="../src/assets/img/search-icon.png" alt="pesquisar">
                </section>
                <button class="nav__container__login-button">
                    Login
                </button>
            </div>
        </nav>
    </header>
    <main>
        <section class="produtos">
            <div class="produtos__header">
                <h1 class="produtos__header__title">Todos os produtos</h1>
                <a href="./novo-produto.html" class="produtos__header__add-product">Adicionar produto</a>
            </div>
            <ul class="produtos__list">
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/star-wars-1.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/star-wars-2.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/star-wars-3.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/star-wars-4.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/star-wars-5.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/star-wars-6.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/console-1.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/console-2.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/console-3.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/console-4.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/console-5.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/console-6.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/diversos-1.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/diversos-2.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/diversos-3.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/diversos-4.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/diversos-5.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
                <li class="produtos__list__card">
                    <img class="produtos__list__card__img" src="/src/assets/img/diversos-6.png" alt="Produto XYZ">
                    <div class="produtos__list__card__content">
                        <p class="produtos__list__card__content__text">Produto XYZ</p>
                        <p class="produtos__list__card__content__price">R$60,00</p>
                        <p class="produtos__list__card__content__id">#11111111</p>
                    </div>
                    <div class="produtos__list__card__button-box">
                        <button class="produtos__list__card__button-box__button__delete produtos__list__card__button-box__button"><img src="../src/assets/img/delete-icon.png" alt="delete"></button>
                        <button class="produtos__list__card__button-box__button__edit produtos__list__card__button-box__button"><img src="../src/assets/img/edit-icon.png" alt="edit"></button>
                    </div>
                </li>
            </ul>
        </section>
        <section class="contact">
            <div class="contact__container">
                <div class="contact__info">
                    <section class="contact__info__logo">
                        <img src="../src/assets/img/logo-img.png" alt="">
                        <p class="contact__info__logo__text"><span class="contact__info__logo__text__blue">Alura</span>Geek</p>
                    </section>
                    <section class="contact__info__topics">
                        <a href="#" class="contact__info__topics__link">Quem somos nós</a>
                        <a href="#" class="contact__info__topics__link">Política de privacidade</a>
                        <a href="#" class="contact__info__topics__link">Programa de fidelidade</a>
                        <a href="#" class="contact__info__topics__link">Nossas lojas</a>
                        <a href="#" class="contact__info__topics__link">Quero ser franqueado</a>
                        <a href="#" class="contact__info__topics__link">Anuncie aqui</a>
                    </section>
                </div>
                <div class="contact__fale-conosco">
                    <p class="contact__fale-conosco__title">Fale conosco</p>
                    <form class="contact__fale-conosco__form" action="">
                        <label class="contact__fale-conosco__form__name-label" for="name">Nome</label>
                        <input class="contact__fale-conosco__form__name" type="text" id="name">
                        <label class="contact__fale-conosco__form__message-label"for="message">Escreva sua mensagem</label>
                        <textarea class="contact__fale-conosco__form__message" name="" id="message" cols="30" rows="5"></textarea>
                        <input class="contact__fale-conosco__form__button" type="submit" value="Enviar mensagem">
                    </form>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer">
        <h4 class="footer__text">Desenvolvido por Cassiano Almeida<br>2021</h4>
    </footer>
</body>
</html>